@charset "UTF-8";
.govuk-main-wrapper .govuk-grid-column-full {
	padding: 0 15px;
}

@media (min-width: 769px) {
	.hale-page .govuk-width-container {
		max-width: 1400px;
		width: calc(100% - 60px);
	}
}

.gds-version::before {
	content: var(--govuk-frontend-version);
}

.website {
	display: flex;
    justify-content: space-between;
	border-bottom: 1px solid #b1b4b6;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	align-items: start;

	@media (min-width: 769px) {
		align-items: center;
	}

	&__links {
		display: flex;
		justify-content: space-between;
		min-width: fit-content;
		flex-direction: column;

		@media (min-width: 769px) {
			flex-direction: row;
		}
	}

	&__environment {
		min-width: fit-content;
		margin-left: 0.2rem;
		margin-right: 0.5rem;
	}

	&__up-down {
		width:120px;
		text-align: center;
	}

	&__users {
		width:100px;
		text-align: center;
		margin-right:0.3rem;
		line-height: 1.55;
	}

	&__favicon {
		border-radius: 3px;
		width: 16px;
		margin-right: 6px;
	}

	&__heading {
		width: 50%;

		.website__heading__text {
			display: block;
		}

		@media (min-width: 641px) {
			margin-left: 22px;
			text-indent: -22px;
			.website__heading__text {
				display: inline;
			}
		}
	}
	&__explanation {
		@media (min-width: 641px) {
			margin-left: 22px;
		}
	}

	&__technical {
		width: 180px;
		font-size: 16px;
		color: #505a5f;
	}
	&__id-title,
	&__slug-title {
		color: inherit;
		font-size: inherit;
		margin: 0;

		@media (min-width: 641px) {
			font-weight: inherit;
			display: inline;
			&:after {
				content: ":";
			}
		}
	}
	&__id-title{
		margin-top:1rem;
	}
	&__slug {
		color: #d13118;
		background-color: #f3f2f1;
		padding: 0 0.2rem;
		font-size: 14px;
		white-space: nowrap;
	}
	&__id {
		padding: 0 0.2rem;
		font-size: 18px;
	}
	&__warning {
		background: #fff;
		padding: 0 22px 22px;
		font-size: 19px;
		margin: -30px 0 22px;
		line-height: 1.6;
		border-bottom: 1px solid #b1b4b6;
	}
}

.birthday-logo {
	display: inline-block;
	width: 25px;
	height: 25px;
	position: relative;
	top: 4px;
	background-size: contain;
	border-radius: 25px;
}

.govuk-tag.hale-dash-better-tag {
	font-weight: 700;

	&.hale-dash-better-tag--blue {
		background-color: #1d70b8;
		color:white;
	}
	&.hale-dash-better-tag--red {
		background-color: #d4351c;
		color:white;
	}
}
